<html>
	<head>
		<title>Auftragsbest&auml;titgung</title>
	</head>
	<body>
		<img src="http://chris.layh.com/uploads/tx_templavoila/three-schrift.png" />
		<h3>Auftragsbest&auml;tigung Three-now</h3>
		Hey, du hast gerade einen Auftrag für <a href="http://www.three-now.com">Three-now</a> abgegeben.
		<br />
		<h4>Dein Wunschartikel:</h4>
		{article.name}<br />
		Size: {size}<br />
		Color: {color}<br />
		Price: {price} &euro;

		<hr />
		<h4>Lieferadresse:</h4>
		{data.firstname} {data.lastname}<br />
		{data.street}<br />
		{data.zip} {data.city}<br />

		<hr />
		Noch Fragen, dann schreib an: order@three-now.com
	</body>
</html>

