<f:layout name="default" />

This Template is responsible for creating a table of domain objects.

<f:section name="main">

<f:flashMessages class="errorMessage" />

	<f:form action="submit" controller="Order">

		<f:form.hidden name="price" value="{price}" />
		<f:form.hidden name="size" value="{size}" />
		<f:form.hidden name="uid" value="{article.uid}" />
		<f:form.hidden name="color" value="{color}" />

		<p class="order-form">
			<label>Vorname:</label>
			<f:form.textbox name="firstname" value="{firstname}" />
		</p>

		<p class="order-form">
			<label>Nachname:</label>
			<f:form.textbox name="lastname" value="{lastname}" />
		</p>

		<p class="order-form">
			<label>Email:</label>
			<f:form.textbox name="email" value="{email}"/>
		</p>

		<p class="order-form">
			<label>Stra&szlig;, Nr.:</label>
			<f:form.textbox name="street" value="{street}" />
		</p>

		<p class="order-form">
			<label>PLZ:</label>
			<f:form.textbox name="zip" value="{zip}" />
		</p>

		<p class="order-form">
			<label>Stadt</label>
			<f:form.textbox name="city" value="{city}" />
		</p>

		<p class="order-form">
			{article.name}<br />
			Size: {size}<br />
			Color: {color}<br />
		</p>

		<f:form.checkbox name="agb" value="agb" />Ich habe die AGB gelesen und verstanden.

		<p class="order-form">
			<f:form.submit value="Abschicken" name="submit" class="powermail_kontakt powermail_submit powermail_submit_uid5 style1" />
		</p>
		
	</f:form>

</f:section>
