<f:layout name="default" />

This Template is responsible for creating a table of domain objects.

<f:section name="main">

<f:flashMessages />

	<f:form action="index" controller="Order">

		<div class="image-container" style="float:left;margin-right:20px;">
			<a href="uploads/tx_tlshop/{article.image}" title="{article.name}">
				<f:image src="uploads/tx_tlshop/{article.image}" alt="{article.name}" width="300" />
			</a>
		</div>

		<div class="description-container">
			<h3>{article.name}</h3>

			<p class="row">{article.text}</p>

			<p class="row">
				<label>Preis:</label>{article.price} &euro;
			</p>

			<f:form.hidden value="{article.sku}" name="sku" />
			<f:form.hidden value="{article.uid}" name="uid" />
			<f:form.hidden value="{article.price}" name="price" />

			<p class="row">
				<label>Gr&ouml;&szlig;e:</label>
				<f:form.select name="size" options="{article.size}" optionValueField="value" optionLabelField="name" />
			</p>

			<p class="row">
				<label>Farbe:</label>
				<f:form.select name="color" options="{article.color}" optionValueField="value" optionLabelField="name" />
			</p>

			<p class="row">
				<f:form.submit name="prepareOrder" value="Abschicken" class="powermail_kontakt powermail_submit powermail_submit_uid5 style1" />
			</p>
		</div>

	</f:form>

</f:section>
